<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
  </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd" logFactory="Log4NetLogFactory" disablePerformanceDataCollector="false" performanceDataCollectInterval="5" maxWorkingThreads="5000" maxCompletionPortThreads="5000" minWorkingThreads="5" minCompletionPortThreads="5" isolation="None">
    <servers>
      <server name="MyServerA" serverTypeName="MyServerA" ip="192.168.1.14" port="2012" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
     <server name="MyServerB" serverTypeName="MyServerB" ip="192.168.1.14" port="2013" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8" policyFile="aaaaaaa" connectionFilter="IpRangeFilter" ipRange="192.168.1.14-192.168.1.255">
       <subProtocols>
         <add name="add1"></add>
       </subProtocols>
      </server>
      <server name="TerminatorProtocolServer" serverTypeName="TerminatorProtocolServer" ip="192.168.1.14" port="2014" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
      <server name="CountSpliterAppServer" serverTypeName="CountSpliterAppServer" ip="192.168.1.14" port="2015" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
    <server name="FixedSizeServer" serverTypeName="FixedSizeServer" ip="192.168.1.14" port="2016" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
    <server name="BeginEndMarkServer" serverTypeName="BeginEndMarkServer" ip="192.168.1.14" port="2017" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
    <server name="FixedHeaderServer" serverTypeName="FixedHeaderServer" ip="192.168.1.14" port="2018" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8">
      </server>
      <server name="HLProtocolServer" serverTypeName="HLProtocolServer" ip="192.168.1.14" port="2019" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="gb2312">
      </server>
      <server name="CustomServer" serverTypeName="CustomServer" ip="192.168.1.14" port="2020" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="gb2312" disableSessionSnapshot="true">
      </server>
      <server name="FileServer" serverTypeName="FileServer" ip="192.168.1.14" port="2021" mode="Tcp" syncSend="true" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" sendBufferSize="65535" receiveBufferSize="65535" maxRequestLength="65535" maxConnectionNumber="5000" textEncoding="UTF-8" disableSessionSnapshot="true">
      </server>
      <server name="ManagementServer"
              serverType="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager">
        <listeners>
          <add ip="192.168.1.14" port="4502" />
        </listeners>
        <users>
          <user name="kerry" password="123456"/>
        </users>
      </server>
    </servers>
    <serverTypes>
      <add name="MyServerA" type="SuperSocketDemo.AppServers.MyServerA, SuperSocketDemo"/>
      <add name="MyServerB" type="SuperSocketDemo.AppServers.MyServerB, SuperSocketDemo"/>
      <add name="TerminatorProtocolServer" type="SuperSocketDemo.AppServers.TerminatorProtocolServer, SuperSocketDemo"/>
      <add name="CountSpliterAppServer" type="SuperSocketDemo.AppServers.CountSpliterAppServer, SuperSocketDemo"/>
      <add name="FixedSizeServer" type="SuperSocketDemo.AppServers.FixedSizeServer, SuperSocketDemo"/>
      <add name="BeginEndMarkServer" type="SuperSocketDemo.AppServers.BeginEndMarkServer, SuperSocketDemo"/>
      <add name="FixedHeaderServer" type="SuperSocketDemo.AppServers.FixedHeaderServer, SuperSocketDemo"/>
      <add name="HLProtocolServer" type="SuperSocketDemo.AppServers.HLProtocolServer, SuperSocketDemo"/>
      <add name="CustomServer" type="SuperSocketDemo.AppServers.CustomServer, SuperSocketDemo"/>
      <add name="FileServer" type="SuperSocketDemo.AppServers.FileServer, SuperSocketDemo"/>
    </serverTypes>
    <logFactories>
      <add name="ConsoleLogFactory" type="SuperSocket.SocketBase.Logging.ConsoleLogFactory,SuperSocket.SocketBase"/>
      <add name="Log4NetLogFactory" type="SuperSocket.SocketBase.Logging.Log4NetLogFactory,SuperSocket.SocketBase"/>
    </logFactories>
    <connectionFilters>
      <add name="IpRangeFilter"
           type="SuperSocketDemo.SessionFilter.IPConnectionFilter, SuperSocketDemo" />
    </connectionFilters>
  </superSocket>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
